*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    font-family: arial;
    color:#eee;
    transition: 0.3s;
}

html{
    height: 100%;
    width: 100%;
}
body{
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: minmax(20px, 90px) calc(100% - 90px);
    grid-template-areas:
    "container-left container-top"
    "container-left container-right";
    height: 100%;
    width: 100%;
}
#container-top{
    grid-area: container-top;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2b2b2b;
}
#container-left{
    z-index: 5;
    width: 100%;
    height: 100%;
    grid-area: container-left;
    background-color: #333333;
    border: 3px solid #313131;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px calc(100% - 90px);
    grid-template-areas:
    "nav-bar-buttons"
    "nav-elements";
}

#container-right{
    grid-area: container-right;
    margin-left: 0%;
    padding: 20px;
    background-color: #222;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 97% 3%;
    grid-template-areas:
    "chats"
    "chat-input";
}
.chat{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: greenyellow;
}

#nav-bar-buttons {
    grid-area: nav-bar-buttons;
    display:inline-flexbox;
    width: 100%;
    height: 100%;
    display: flex;
}

#nav-bar-buttons > * > img:hover {
    filter: drop-shadow(0 0 0 orange) drop-shadow(1px 1px 1px orange);
}

#nav-elements {
    grid-area: nav-elements;
    width: 100%;
    height: 100%;
    display: flex;
}
#addChat{
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 46px;
    margin-left: auto;
}
#collapseBar{
    display: flex;
    justify-content: left;
    background-color: transparent;
    border: none;
    outline: none;
    height: auto;
    width: 46px;
    margin-left: 3px;
}
#sendbtn {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#sendbtn img {
    width: 26px;
    height: auto;
}
#chat-input {
    z-index: 4;
    grid-area: chat-input;
    position: fixed;
    bottom: 15px;
    left: calc(200px + (100% - 200px) / 2);
    display: flex;
    align-items: center;
    max-width: calc(100% - 220px);
    width: 100%;
    transform: translateX(-50%);
}

#chat-input textarea {
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #111;
    border-radius: 50px;
    color: #ccc;
    resize: none;
    background-color: #222222;
}
#chats{
    grid-area: chats;
    width: 100%;
    padding: 0 15px;
    color: white;
    position: relative;
    font-size: 0.9em;
    overflow-y: visible;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    bottom: 15px
}

#chats .MessageContainer *{
    transition: outline-width 0.1ms
}

#chats .MessageContainer *:hover {
    filter: drop-shadow(-0.76px -0.76px 1.3px orange) drop-shadow(0.76px 0.76px 1.3px orange);
}


.client-chat{
    width: calc(47% + 40px);
    word-wrap: break-word;
    background-color: #333333;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 50px 5px auto;
}
.ai-chat{
    width: calc(47% + 40px);
    word-wrap: break-word;
    background-color: #333333;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
    margin-left: 50px;
}
.ai-chat::before {
    content: "";
    position: absolute;
    transform:  translate(-140%, -30%);
    width: 40px;
    height: 40px;
    background-image: url('../img/svg/AIPicture.svg');
    background-size: cover;
    background-position: center;
}
.chat-container {
    display: flex;
    align-items: flex-start;
    margin: 10px 10px;
}
.chat-container img {
    margin-left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.chat-icon-container {
    opacity: 0;
    width: 30px;
    height: 30px;
}

.client-chat:hover ~ .chat-icon-container {
    opacity: 1;
}

.ChatIcons {
    position: absolute;
    right:0;
    margin-top: 6px;
    margin-right: calc(47% + 115px);
    width: 30px;
    height: 30px;
    background-position: center;
}