*{
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    font-family: arial;
    color:#bebebe;
    transition: 0.3s;
}

::selection {
    background-color: #7000af;
    color: #dddddd;
}

html{
    height: 100%;
    width: 100%;
}
body{
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: minmax(20px, 90px) calc(100% - 90px);
    grid-template-areas:
    "container-left container-top"
    "container-left container-right";
    height: 100%;
    width: 100%;
}
#container-top{
    grid-area: container-top;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    border: 3px solid #2b2b2b;
}

#container-top #top-container-pictures * {
    transform: translateY(-50%);
}

#container-left{
    z-index: 5;
    width: 100%;
    height: 100%;
    grid-area: container-left;
    background-color: #1b1b1b;
    border: 3px solid #1a1a1a;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px calc(100% - 90px);
    grid-template-areas:
    "nav-bar-buttons"
    "nav-elements";
}
.chat-container {
    display: flex;
    width: 100%;
}
.chat-list {
    width: 250px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.chat-item{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}
.chat-item:hover {
    padding: 15px;
    cursor: pointer;
    background-color: grey;
    
}
.chat-icons{
    display: none;
    margin-left: 10px;
}
.chat-item:hover .chat-icons{
    display: flex;
}
.icon{
    margin-left: 5px;
    cursor: pointer;
    font: 15px;
}
.edit-icon, .delete-icon{
    transition: color 0.9s ease, transform 0.9s ease, padding 0.9s ease;
}
.edit-icon:hover{
    color: #64b5f6;
    transform: scale(1.4);
    padding: 2px;
    visibility: visible;
}
.delete-icon:hover{
    color: red;
    transform: scale(1.4);
    padding: 2px;
    visibility: visible;
}


#container-right{
    grid-area: container-right;
    margin-left: 0%;
    padding: 20px;
    background-color: #222;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 97% 3%;
    grid-template-areas:
    "chats"
    "chat-input";
}
.chat{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#nav-bar-buttons {
    grid-area: nav-bar-buttons;
    display:inline-flexbox;
    width: 100%;
    height: 100%;
    display: flex;
}

#nav-bar-buttons > * > img:hover {
    filter: drop-shadow(0 0 0 #7000af) drop-shadow(1px 1px 1px #7000af);
}

#nav-elements {
    grid-area: nav-elements;
    width: 100%;
    height: 100%;
    display: flex;
}
#addChat{
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 46px;
    margin-left: auto;
}
#collapseBar{
    display: flex;
    justify-content: left;
    background-color: transparent;
    border: none;
    outline: none;
    height: auto;
    width: 46px;
    margin-left: 3px;
}
#sendbtn {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#sendbtn img {
    width: 26px;
    height: auto;
}
#chat-input {
    z-index: 4;
    grid-area: chat-input;
    position: fixed;
    bottom: 15px;
    left: calc(200px + (100% - 200px) / 2);
    display: flex;
    align-items: center;
    max-width: calc(100% - 400px);
    width: 100%;
    transform: translateX(-50%);
}

#chat-input textarea {
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #111;
    border-radius: 50px;
    color: #ccc;
    resize: none;
    background-color: #222222;
}


/****************************************************************************
*****************************MAIN AREA CHAT BODY*****************************
****************************************************************************/

#chat {
    grid-area: chats;
    width: 100%;
    color: white;
    position: relative;
    font-size: 0.9em;
    overflow-y: visible;
    scrollbar-width: none;
    scroll-behavior: smooth;
    bottom: 15px;
}


/**** Client Message ****/
.client-message-container {
    display: grid;
    grid-template-areas: "client_edit_request_area client_request_text_area";
    grid-template-columns: 40px auto;
    margin-left: auto;
    width: calc(47% + 40px);
    padding: 2px;
}

.client-message-container:hover .edit-request-button img {
    opacity: 1;
}

/* Edit Button */
.edit-request-button {
    grid-area: "client_edit_request_area";
    width: 30px;
    height: 30px;
    padding: auto;
    margin-right: 5px;
    transition: 0.3s;
}

.edit-request-button img {
    opacity: 0;
}

.edit-request-button:hover {
    filter: drop-shadow(-0.76px -0.76px 1.3px #7000af) drop-shadow(0.76px 0.76px 1.3px #7000af);
}

/* Message Text */
.client-request-text-container {
    grid-area: "client_request_text_area";
    border-radius: 10px 10px 0 10px;
    word-wrap: break-word;
    background-color: #333333;
    padding: 7px 10px;
    transition: 0.3s;
}

.client-request-text-container:hover {
    filter: drop-shadow(-0.76px -0.76px 1.3px #7000af) drop-shadow(0.76px 0.76px 1.3px #7000af);
}

/**** AI Message ****/
.ai-message-container {
    display: grid;
    grid-template-areas: "ai_icon_area ai_answer_text_area ai_copy_text_area";
    grid-template-columns: 50px auto 45px;
    margin-right: auto;
    width: calc(47% + 95px);
    padding: 2px;
}

.ai-message-container:hover .copy-text-button img {
    opacity: 1;
}

/* AI Icon */
.ai-icon-container {
    grid-area: "ai_icon_area";
    width: 40px;
    height: 40px;
    padding: auto;
}

/* Copy Button */
.copy-text-button {
    grid-area: "ai_copy_text_area";
    width: 35px;
    height: 35px;
    padding: auto;
    margin-left: 5px;
    transition: 0.3s;
}

.copy-text-button:hover {
    filter: drop-shadow(-0.76px -0.76px 1.3px #7000af) drop-shadow(0.76px 0.76px 1.3px #7000af);
}

.copy-text-button img {
    opacity: 0;
}

/* Message Text */
.ai-answer-text-container {
    grid-area: "ai_answer_text_area";
    border-radius: 10px 10px 10px 0;
    word-wrap: break-word;
    background-color: #333333;
    padding: 7px 10px;
    transition: 0.3s;
}

.ai-answer-text-container:hover {
    filter: drop-shadow(-0.76px -0.76px 1.3px #7000af) drop-shadow(0.76px 0.76px 1.3px #7000af);
}

/* AI and Client Message Classes */
.message-name {
    font-size: 18px;
    color: #909090;
}

.message-text {
    font-size: 22px;
    color: #ffffff;
}

.message-icon {
    width: 100%;
    height: 100%;
    filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(182deg) brightness(92%) contrast(84%);
}

/*-----------------------------*/


#send-btn:hover {
    z-index: 99;
    filter: drop-shadow(-1px, -1px, 1px, white) drop-shadow(1px, 1px, 1px, white);
}

#navigation {
    background-color: #2d2d2d;
    overflow: hidden;
}

#options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#options-list > li {
    float: left;
}

#options-list > li > a {
    display: block;
        color: white;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        height: 100%;
        line-height: 60px;
        }

#options-list > li > a:hover {
    background-color: #3b3b3b;
}

#options-list li ul {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateY(-48px);
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

#options-list li ul li {
    float: none;
    
}

#options-list li ul li a {
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
}

#options-list li ul li a:hover {
    background-color: #3b3b3b;
}

#options-list li:hover ul {
    display: block;
    opacity: 1;

}

#testbutton:hover {
    transition: 0.3s;
    transform: translateY(-3px);
}


.hoverdialog {
    z-index: 6;
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: transparent;
}

.hoverdialog fieldset {
    position: fixed;
    width: 20%;
    height: 57%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: #1b1b1b;
}

.hoverdialog fieldset legend {
    font-size: 22.4px;
}


.hoverdialog fieldset form {
    font-size: 24px;
    padding: 5px;
}

#submit-button {
    width: 140px;
    height: 31px;
    background: linear-gradient(0.25turn,#7000af,#50008f);
    border-radius: 4px;
    padding: 1.9px;
    border: none;
    color: #efefef;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);  /*rotate(180deg) rotateY(180deg)*/
}

form #forgot-passwd a{
    color: #3498db;
    text-decoration: none;
  }
form #forgot-passwd a:hover{
    text-decoration: underline;
}

@media screen and (min-height: 651px) {
    #FormDialog fieldset {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #signup-link{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        text-align: center;
    }
    #signup-link a{
        color: #3498db;
        text-decoration: none;
    }
    #signup-link a:hover{
        text-decoration: underline;
    }
}

@media screen and (max-height: 650px) {
    #signup-link {
        font-size: 14px;
        text-align: center;
    }
    #signup-link *{
        font-size: 14px
    }
    #signup-link a{
        color: #3498db;
        text-decoration: none;
    }
    #signup-link a:hover{
        text-decoration: underline;
    }
}

.data-input {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    outline: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #2b2b2b;
    border: 2px solid transparent;
    height: 21px;
}

.data-input:focus {
    border: 2px solid #7000af;
}

#debugdiv {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}